/akismet
/all-in-one-seo-pack
/all-in-one-wp-migration
/google-analytics-for-wordpress
/jetpack
/mu-ubc-shortcodes-master
/simple-tags
/ubc-helpers-master-48fb064dea1af5f8b773a6cf0ebfc2a0910eacb6
/wp-mail-smtp
/feedrefactoring
README.md
*.php
